<div class="containerCalculator">
    <div>
        <p>Agregar personas:</p>
        <form action="" id="friendForm" class="form">
            <div class="field">
                <label for="name" class="label">Nombre:</label>
                <input class="input" type="text" name="name" placeholder="Introduce tu nombre.."> 
            </div>
            <br>
                <div class="field">
                <label for="money" class="label">Cuanto puso</label>
                <input class="input" type="number" name="money" placeholder="$..."> 
            </div>
            <br>

            <button type="submit" class="button">Agregar</button>
        </form>
    </div>

    <div id="friendsContainer" class="friendContainer"> </div>

    <div>
        <a href="/results"> <button class="button">Calcular</button> </a>
    </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/calculator.js"></script>
