<div>
    <p>Bienvenidxs</p>
    <div>
        <form action="" id="nameForm">
            <div class="field">
                <label for="name" class="label">Name</label>
                <input class="input" type="text" name="name" placeholder="Introduce tu nombre.."> 
            </div>
            <br>
            <button type="submit" class="button">Enviar</button>
        </form>
    </div>

</div>