{{!-- <main>
    <p>Bienvenidxs</p>
    <div>
        <form action="" id="nameForm">
            <div class="field">
                <label for="name" class="label">Name</label>
                <input class="input" type="text" name="name" placeholder="Introduce tu nombre.."> 
            </div>
            <br>
            <button type="submit" class="button">Enviar</button>
        </form>
    </div>

    <div id="userNames"> 
        {{#if userData}}
            {{#each userData}}

                <p>Usuarios: {{name}}</p>
                {{#if friends}}
                    {{#each friends}}
                        <p>Amigos por lo cuales divide el total: {{name}}</p>
                    {{/each}}
                {{/if}}
                {{#else}}
                    <p>Todavia no se agregó ningún amigo</p>
                {{/else}}

            {{/each}}
        {{/if}}
    </div>

    <div>
        <p>Agregar amigos:</p>
        <form action="" id="friendForm">
            <div class="field">
                <label for="name" class="label">Name</label>
                <input class="input" type="text" name="name" placeholder="Introduce tu nombre.."> 
            </div>
            <br>
                <div class="field">
                <label for="money" class="label">Cuanto puso</label>
                <input class="input" type="number" name="money" placeholder="$..."> 
            </div>
            <br>

            <button type="submit" class="button">Agregar</button>
        </form>
    </div>

</main> --}}

<div class="homeContainer">
    <div class="textBox">
        <h1 class="title is-1">Cuentas Claras</h1>
        <div class="text">
            <h2 class="subtitle is-5">Cuantas veces has discutidos con tus amigos a la hora de dividir dinero?</h2>
            <h3 class="subtitle is-5">Eso se acabó, porque cuentas claras conservan la amistad...</h3>
        </div>
    </div>

    <div class="box homeBox">
        <p class="subtitle is-3">Para ingresar inicia sesión o registrate</p>
        <a class="loginButton" href="/login"> <button class="button">Iniciar sesion</button></a> <a class="registerButton" href="/register"><button class="button">Registrarte</button></a>
        <p class="googleButton">Ingresa con Google(proximamente)(?)</p>
    </div>
</div>

<script src="/js/home.js"></script>