<div class="registerContainer">
    <form action=""  id="registerForm">
        <div>
            <label for="name" class="label">Nombre</label>
            <input class="input is-rounded" type="text" name="name"/>
        </div>
        <br>
        <div>
            <label for="email" class="label">Email</label>
            <input class="input is-rounded" type="text" name="email"/>
        </div>
        <br>
        <div>
            <label for="age" class="label">Edad</label>
            <input class="input is-rounded" type="number" name="age"/>
        </div>
        <br>
        <div>
            <label for="password" class="label">Contraseña</label>
            <input class="input is-rounded" type="password" name="password"/>
        </div>
        <br>
        <button id="registerButton" type="submit" class="button">Entrar</button>
        <br>    
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/register.js"></script>