<div>Resultados</div>

<div id="container" class="resultContainer">
    <div id="infoFriend"></div>
    <div id="infoFriendResult" class="block box infoFriendResult"></div>
</div>

<script src="/js/results.js"></script>