//Variables

$backgroundOne : #3b3355;
$backgroundTwo: #000505;
$backgroundThree : #5d5d81;
$backgroundFour : #BFCDE0;
$backgroundFive : #fefcfd;

//General Styles
main{
    background-color: $backgroundTwo;
}